/* Nav Bar */
nav {
  display: flex;
  background-color: var(--brown-light);
}

.nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  height: 50px;
}
.right {
  justify-content: flex-end;
  align-items: center;
}
.left {
  align-items: center;
}
.navItem {
  margin-right: 30px;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #c6542f;
}

/* about page */

.top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.avatar {
  border-radius: 50%;
  width: 230px;
  height: 250px;
  justify-self: end;
}
.shortDescription {
  padding-left: 10px;
  padding-right: 10px;
}

.bottom {
  background-color: var(--brown-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.ovride {
  background-color: white;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.leftTitle {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.rightDescription {
  display: flex;
  width: 50%;
  flex-direction: column;
}

/* Order Page */
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  display: flex;
  border: 3px solid var(--background);
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}
.bottomOrder {
  background-color: var(--brown-light);
  justify-content: center;
  display: flex;
}

.orderTitle {
  text-align: center;
}

.disclamerBtn {
  display: flex;
  flex-direction: column;
}
.orderBtn {
  width: 80px;
  align-self: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
}

.orderBtnColor {
  color: black;
}

/* footer */

.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: var(--brown-light);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
