body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--background);
  font-weight: 500;
  padding: 0;
  height: 100%;
}
:root {
  --background: #c18c5d;
  --text: #495867;
  --heading: #ce796b;
  --light-pink: #e7ad99;
  --brown-light: #ecc8af;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
